.logo {
    margin-left: 4rem;
    font-weight: 900;
}

.logoContainer:hover {
    color: black !important;
}

.flagImage {
    width: 2rem;
    height: 2rem;
    padding-bottom: 0.4rem;
    padding-right: 0.3rem;
}

.navItemContainer {
    margin: 0 0.2rem;
    border: 0.1px solid transparent;
}

.navItemContainer:hover {
    border: 0.1px solid gray;
    border-radius: 5px;
}