.articleURL {
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.articleURL:hover {
    transform: scale(1.01);
}

img {
    float: center;
    width: 1050px;
    height: 550px;
    object-fit: cover;
}