.articleURL {
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.articleURL:hover {
    transform: scale(1.01);
}

.imageContainer {
    width: 1050px;
    height: 550px;
    background-position: center;
}